version: '2'
services:
  database:
    container_name: db
    restart: always
    image: mysql:8.0.16
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: user_management

