<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client App</title>
</head>
<body>
    <h1>That is your dashboard</h1>
    <table>
        <tr><td><b>That is your entries</b></td></tr>
        <tr th:each="entry : ${user.entries}">
            <td th:text="${entry.value}">value</td>
        </tr>
    </table>
    <h3>Your profile from Application</h3>
    <table>
        <tr>
            <td><b>name</b></td>
            <td th:text="${profile?.name}">username</td>
        </tr>
        <tr>
            <td><b>email</b></td>
            <td th:text="${profile?.email}">email</td>
        </tr>
    </table>
</body>
</html>