<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h1 th:text="'List of Owners'">List of Owners...</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner?.id}">1</th>
            <th th:text="${owner?.firstName}">First name</th>
            <th th:text="${owner?.lastName}">Last Name</th>
        </tr>
        </tbody>
    </table>
</body>
</html>